<div style="padding: 5%;">
    <mat-card class="card">
        <mat-card-header>
            <div mat-card-avatar class="header-image">
                <i class="material-icons">
          grain
        </i>
            </div>
            <mat-card-title>Graph Stream Analyser</mat-card-title>
            <mat-card-subtitle>Abdalrahman Alkamel, Rana Noureddin</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../assets/img/Graph.PNG" alt="Photo of a graph">
        <mat-card-content>
            <p>
                This app creates a synthetic graph stream data source and builds a windowing stream operator that includes grouping/ aggregation features. Finally, it visualizes the resulting graph using a javascript library.
            </p>
            <p>
                To realize the graph grouping algorithm, we used the Flink Table API. Since we adopted Edge stream as our graph representation, the process was straightforward.
            </p>
        </mat-card-content>
    </mat-card>
</div>