.container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.is-mobile .toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
}

.sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
   causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
}

.is-mobile .sidenav-container {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
   `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
}

.item-margin {
    margin: 0 10px;
}

.icon-margin {
    margin: 0 10px;
}

.margin {
    margin: 0 30px;
}

.fill-remaining-space {
    flex: 1 1 auto;
}

.padding-icon {
    padding: 0 14px;
}

.logo {
    /* background: #3C484B; */
    color: whitesmoke;
    max-width: 100px;
    padding: 5% 26%;
}

.footer.mat-paginator {
    background: whitesmoke;
}