<div class="container" [class.is-menu]="Query.matches">
    <mat-toolbar color="primary" class="toolbar">
        <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
        <!-- This fills the remaining space of the current row -->
        <span class="fill-remaining-space"></span>
        <span>Graph Stream Analyser</span>
        <span class="fill-remaining-space"></span>
        <ng-container *ngIf="this.dataService.connected; else elseTemplate">
            <mat-icon class="material-icons"> power </mat-icon>
        </ng-container>
        <ng-template #elseTemplate>
            <mat-icon class="material-icons"> power_off </mat-icon>
        </ng-template>
    </mat-toolbar>

    <mat-sidenav-container class="sidenav-container" [style.marginTop.px]="Query.matches ? 56 : 0">
        <mat-sidenav #snav opened="true" [mode]="Query.matches ? 'over' : 'side'" [ngClass]="Query.matches ? 'over-background' : ''" [fixedInViewport]="Query.matches" fixedTopGap="56">
            <img class="logo" src="./../../assets/flink_squirrel_white_1000.png">
            <mat-nav-list class="margin">
                <a mat-list-item routerLink="/">
                    <mat-icon class="icon-margin">bubble_chart</mat-icon>
                    Visualization
                </a>
            </mat-nav-list>
            <mat-nav-list class="margin">
                <a mat-list-item routerLink="/raw-data">
                    <mat-icon class="icon-margin">storage</mat-icon>
                    Raw Data
                </a>
            </mat-nav-list>
            <mat-nav-list class="margin">
                <a mat-list-item routerLink="/info">
                    <mat-icon class="icon-margin">info</mat-icon>
                    About
                </a>
            </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>