/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.mat-drawer {
    background-color: #455255 !important;
    color: whitesmoke !important;
}

.mat-list-base .mat-list-item {
    color: #fafafa !important;
}