@import '~@angular/material/theming';
@include mat-core();

/* For use in src/lib/core/theming/_palette.scss */

$mat-blue-grey: ( 50: #e1f1f5, 100: #b3dbe6, 200: #80c4d5, 300: #4dacc4, 400: #279ab7, 500: #0188aa, 600: #0180a3, 700: #017599, 800: #016b90, 900: #00587f, A100: #ade1ff, A200: #7acfff, A400: #47bcff, A700: #2db3ff, contrast: ( 50: #000000, 100: #000000, 200: #000000, 300: #000000, 400: #ffffff, 500: #ffffff, 600: #ffffff, 700: #ffffff, 800: #ffffff, 900: #ffffff, A100: #000000, A200: #000000, A400: #000000, A700: #000000, ));
$my-app-primary: mat-palette($mat-blue-grey);
$my-app-accent: mat-palette($mat-blue-grey, 500, 900, A100);
$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent);
@include angular-material-theme($my-app-theme);