<mat-toolbar>
    <mat-form-field class="size">
        <input matInput type="number" placeholder="Enter a window period" [formControl]="windowPeriodControl">
    </mat-form-field>
    <span class="spacer"></span>
    <mat-form-field class="size">
        <mat-label>Select a window unit</mat-label>
        <mat-select [(value)]="windowUnit">
            <mat-option *ngFor="let unit of units" [value]="unit.value">
                {{unit.viewValue}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <span class="spacer"></span>
    <mat-form-field class="size">
        <input matInput type="number" placeholder="Enter a slide period" [formControl]="slidePeriodControl">
    </mat-form-field>
    <span class="spacer"></span>
    <mat-form-field class="size">
        <mat-label>Select a slide unit</mat-label>
        <mat-select [(value)]="slideUnit">
            <mat-option *ngFor="let unit of units" [value]="unit.value">
                {{unit.viewValue}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <span class="spacer"></span>
    <mat-checkbox [(ngModel)]="checked" class="size">Grouping</mat-checkbox>
    <span class="spacer"></span>
    <button mat-raised-button color="primary" [disabled]="isLoading" (click)="applyChanges(windowUnit, slideUnit)">
      APPLY
    </button>
</mat-toolbar>
<mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>

<div class="card card-accent-info">
    <div class="card-body">
        <!-- Chart -->
        <div echarts [options]="option" [merge]="merge" class="demo-chart"></div>
    </div>
</div>
