<div style="padding: 5%;">
    <mat-card class="card">
        <mat-card-header>
            <div mat-card-avatar class="header-image">
                <i class="material-icons">
                    storage
              </i>
            </div>
            <mat-card-title>Raw Data</mat-card-title>
            <mat-card-subtitle>Graph points and edges as JSON Object</mat-card-subtitle>
            <mat-card-actions>
                <button mat-icon-button (click)="refresh()" aria-label="Example icon-button with a refresh icon">
                <mat-icon>refresh</mat-icon>
            </button></mat-card-actions>
        </mat-card-header>
        <mat-card-content>
            <ng-container *ngIf="data; else elseTemplate">
                <ngx-json-viewer [json]="data"></ngx-json-viewer>
            </ng-container>
            <ng-template #elseTemplate>
                <mat-spinner [diameter]="25"></mat-spinner>
            </ng-template>
        </mat-card-content>
    </mat-card>
</div>